@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border: none;
  text-transform:capitalize;
  transition: all .2s linear;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  background: #f7f7f7;
  font-family: 'Poppins', sans-serif;
}

*::selection{
  background: #2b3dda;
  color: #fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar{
  width: .8rem;
}
html::-webkit-scrollbar-track{
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb{
  background: #420177;
}

/* navbar starts */
header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.3);
}
section{
  min-height: 100vh;
  padding: 2rem 9%;
}
.heading{
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
.heading span{
  color: rgb(115, 3, 167);
}
header .logo{
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0E2431;
}
header .logo i {
  font-size: 2.2rem;
}
header .logo:hover {
  color: #fc8c05;
}
header .navbar ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li{
  margin-left: 2.5rem;
}
header .navbar ul li a{
  font-size: 1.57rem;
  color: #0E2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
}
header .navbar ul li a.active,
header .navbar ul li a:hover{
  color: #011aff;
  border-bottom: .2rem solid #011aff;
  padding: .5rem 0;
}
/* navbar ends */

/* hamburger icon starts*/
#menu{
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
@media(max-width:768px){
  #menu{
      display: block;
  }
  header .navbar{
    position: fixed;
    top: 6.5rem; right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }
  header .navbar ul{
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li{
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: .5rem;
    width: 26rem;
  }
  header .navbar ul li a{
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover{
    padding: 1rem;
    color: #fff;
    border-radius: .5rem;
    border-bottom: .5rem solid #011aff;
  }
  .fa-times{
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle{
    right: 0;
  }
}
/* hamburger icon ends */

/* Publication section starts*/
/* education section starts */
.publications {
  background: (255, 255, 255);
  min-height: 80vh;
}

.publications .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.publications .box-container .box {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
  transition: 0.3s;
  background: rgb(252, 252, 252);
}
.publications .box-container .box:hover {
  /* transform: scale(1.03); */
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}
.publications .box-container .box .image {
  flex: 1 1 20rem;
  width: 100%;
}
.publications .box-container .box img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.publications .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 10rem;
}
.publications .box-container .box .content h3 {
  font-size: 2rem;
  color: #012970;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}
.publications .box-container .box .content p {
  font-size: 1rem;
  margin-left: 1rem;
  text-align: left;
}
.publications h4 {
  font-size: 1.2rem;
  color: rgb(34, 109, 0);
  text-align: left;
  margin-left: 1rem;
  font-weight: 700;
}

.publications .presentedby{
  font-size: 1.2rem;
  color: black;
  text-align: left;
  font-family: "Nunito", sans-serif;

}

/* education media queries starts*/
@media screen and (max-width: 600px) {
  .publications .box-container .box {
    flex-direction: column;
    width: 100%;
  }
  .publications .box-container .box .image {
    width: 100%;
    height: 25rem;
  }
  .publications .box-container .box img {
    width: 100%;
  }
  .publications .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.1rem;
    flex-wrap: wrap;
    flex: 0;
  }
  .publications .btns {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
}

/* Publication buttons start */

.publications .btns-box .btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.publications .btns-box .btns .btn {
  line-height: 0;
  display: inline;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  background: rgb(12, 12, 12);
  margin-right: 2rem;
}
.publications .btns-box .btns .btn:hover {
  background: #310ae0f5;
}
.publications .viewall {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.publications .viewall .btn {
  position: relative;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 0.5em;
  transition: 0.5s;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  color: #fff;
  font-weight: 700;
  border: 2px solid #000;
  text-align: center;
}
.publications .viewall .btn span {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
}
.publications .viewall .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.publications .viewall .btn:hover {
  background: #fff;
  color: #000;
}
.publications .viewall .btn:hover i {
  transform: translateX(5px);
}
/* Publication buttons ends*/

/* Publication section ends*/

@media screen and (max-width: 450px) {
  .publications .button-group{
    width: 100%;
  }
  .publications .box-container{
    margin: 0rem;
  }
  .publications .box-container .grid-item .box{
    width: 95% !important;
  }
}

/* back to home button */
.backbtn{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.backbtn .btn {
  position: relative;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: .5em;
  transition: 0.3s;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 2px 4px rgba(48, 68, 247, .3);
  text-align: center;
}
.backbtn .btn span {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: 'Nunito', sans-serif;
}
.backbtn .btn i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.backbtn .btn:hover{
  background: #ffffff;
  color: #000;
}
.backbtn .btn:hover i {
  transform: translateX(-8px);
}
/* work section ends */

/* common media queries starts*/
@media(max-width:450px){
  html{
    font-size: 55%;
  }
  body{
    padding-right: 0;
  }
  section{
    padding: 2rem;
  }
}
/* common media queries ends*/


/* scroll top starts */
#scroll-top{
  position: fixed;
  top: -140%;
  right: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: #ffae00;
  color: rgb(13, 0, 44);
  border-radius: 5rem;
  transition: 1s linear;
  z-index: 1000;
}
#scroll-top.active{
  top: calc(100% - 12rem);
}
/* scroll top ends */